* {
  box-sizing: border-box;
}

html, body, #app, .container, section {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: url('bg.png');
  font-family: sans-serif;
  font-size: 2rem;
}

.container {
  padding: 10px;
  position: relative;
}

.routine, .score {
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  transition: transform 1s;
  width: 100%;
}

.routine {
  background: white;
  transform: translateX(-100%);
}

.score {
  background: red;
  transform: translateX(100%);
}

[data-mode="routine"] .routine,
[data-mode="score"] .score {
  transform: translateX(0);
}

button {
  display: inline-block;
}
